<%- include("partials/header") %>

<h2>Welcome to My Lists</h2>
<ul>
  <li><a href="/Personal">Personal Info</a></li>
  <li><a href="/Zodiac">Zodiac Info</a></li>
</ul>

<%- include("partials/footer") %>
